/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 20px;
}

.DemoApp {
  font-family: sans-serif;
  text-align: center;
}

div {
  margin: 10px;
  padding: 10px;
}

#appTitle {
  font-size: 60px;
  padding: 10px;
  background-color: #E20074;  /* T-Mobile Magenta */
  color: white;
  height: 80px;
  width: fill;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Monoton', sans-serif;
  position: relative;  /* Changed from absolute to relative */
}

/* Core and Calling Area */
div#core, div#callingArea {
  border: 1px solid #E20074;
  border-radius: 10px;  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
  background-color: white;  
  padding: 20px;  /* Additional padding to give space inside the box */
  margin-bottom: 20px;  /* Space between the boxes */
}


/* Input Styles */
input {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input.ok {
  background-color: #D3FFD5;
  border-color: green;
}

input.error {
  background-color: #FFD6D6;
  border-color: red;
}

/* Button Styles */
button {
  margin: 5px;
  padding: 7px 15px;
  border: none;
  border-radius: 3px;
  background-color: #E20074;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #af045c;
}

/* Other Styles */
#callControls label {
  margin: 5px;
}

#participantsList {
  width: 500px;
}

div#videoArea {
  height: 200px;
  width: 600px;
}

div#videoArea video {
  height: 99%;
  width: 48%;
  border: 1px dashed #E20074;
}

#callButton{
    width: 200px;        /* Set width of button */
    height: 200px;       /* Set height of button */
    border-radius: 50%;  /* Makes the button round */
    font-size: 20px;     /* Adjust font size as per your requirement */
    border: none;        /* Removes default border */
    background-color: #E20074; /* Background color */
    color: white;        /* Text color */
    cursor: pointer;     /* Makes it clear that the button is clickable */
    outline: none;       /* Removes the default focus outline */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    justify-content: center;
    align-items: center;
    display: flex;
}

#callButton:hover {
  background-color: #af045c; /* Darker shade for hover effect */
}

#tmobileLogo {
  height: 90px; /* Adjust this as per your preference */
  width: auto;  /* Keeps the aspect ratio of the image */
  position: absolute; 
  top: 10px;   /* Position from the top of the #appTitle */
  right: 10px; /* Position from the right of the #appTitle */
  margin: 0;   /* No margin needed for an absolutely positioned element */
}

.centered-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px; /* Adjust based on your preference */
}

#sosButton{
  width: 100px;        /* Set width of button */
  height: 100px;       /* Set height of button */
  border-radius: 50%;  /* Makes the button round */
  font-size: 20px;     /* Adjust font size as per your requirement */
  border: none;        /* Removes default border */
  background-color: #ad0404; /* Background color */
  color: white;        /* Text color */
  cursor: pointer;     /* Makes it clear that the button is clickable */
  outline: none;       /* Removes the default focus outline */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  justify-content: center;
  align-items: center;
  display: flex;
}


